/* HOME */
#typing-text {
  font-size: .7em;
  border-right: 2px solid #5CD2B9;
  padding-right: 5px;
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #5CD2B9;
  }
}

/* EXPERTISE */
#expertise .gray:hover {
  background: linear-gradient(360deg, #0c0c0c, #5CD2B9);
  transform: translateY(-5px);
}

#expertise .black-gray:hover {
  background: linear-gradient(360deg, #262626, #262626);
  transform: translateY(-5px);
}